<div class="task-card mb-3 shadow-sm task-{{ task.status|slugify }}"
     id="task-{{ task.id }}"
     hx-get="{% url 'core:task_detail_update' pk=task.id %}"
     hx-target="#modal-container"
     hx-swap="innerHTML"
     style="cursor: pointer;">
    <strong>{{ task.title }}</strong>
    {% if task.assignee %}
        <p class="mb-1 mt-2 text-muted">
            <small><i class="bi bi-person-circle me-1"></i>{{ task.assignee.get_full_name }}</small>
        </p>
    {% endif %}
    <p class="mb-0"><small><i class="bi bi-calendar-event me-1"></i>Límite: {{ task.due_date|default:"N/A" }}</small></p>
</div>