<div id="modal-content" class="modal-content">
    <div class="modal-header">
        <h2 class="h5 mb-0 fw-semibold text-dark">Editar Tarea</h2>
        <button 
            type="button"
            class="btn-close"
            aria-label="Cerrar"
            onclick="document.querySelector('#modal-container').innerHTML = ''"
            style="margin-left: 1rem;">
        </button>
    </div>
    <div class="modal-body">
        <form 
            hx-post="{% url 'core:task_detail_update' pk=task.pk %}"
            hx-target="#task-{{ task.id }}"
            hx-swap="outerHTML"
            autocomplete="off"
        >
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <div class="d-flex gap-2 justify-content-end">
                <button type="submit" class="btn btn-success rounded-pill px-4">Guardar Cambios</button>
                <button type="button" class="btn btn-outline-secondary rounded-pill px-4" onclick="document.querySelector('#modal-container').innerHTML = ''">Cancelar</button>
            </div>
        </form>
    </div>
</div>