<div class="task-card"
     id="task-{{ task.id }}"
     hx-get="{% url 'core:task_detail_update' pk=task.id %}"
     hx-target="#modal-container"
     hx-swap="innerHTML"
     style="cursor: pointer;">
    <strong>{{ task.title }}</strong>
    {% if task.assignee %}
        <p class="mb-1 mt-2 text-muted">
            <small><li class="bi bi-person-circle"></li>{{ task.assignee.get_full_name }}</small>
        </p>
    {% endif %}
    <p class="mb-0"><small>Límite: {{ task.due_date|default:"N/A" }}</small></p>
</div>