{% extends "core/base.html" %}
{% load core_extras %}
{% load static %}

{% block content %}
<h1 class="fw-bold text-dark mb-2">Proyecto: {{ project.name }}</h1>
<p class="mb-4 text-secondary">{{ project.description|default:"" }}</p>

{% if is_locked %}
<div class="alert alert-warning" role="alert">
    <strong>Proyecto Vencido.</strong> Las modificaciones están bloqueadas. Solo el dueño puede gestionarlo.
</div>
{% else %}
<div class="mb-3">
    <button hx-get="{% url 'core:task_create' project_slug=project.slug %}"
            hx-target="#modal-container"
            hx-swap="innerHTML"
            class="btn btn-success rounded-pill px-4 fw-semibold">
        + Añadir Nueva Tarea
    </button>
</div>
{% endif %}
<div id="modal-container"></div>
<hr class="mb-4">

<div class="kanban-board" data-update-url="{% url 'core:update_task_status' %}">
    {% for status_value, status_label in status_choices %}
        <div class="kanban-column">
            <h3 class="kanban-title">{{ status_label }}</h3>
            <hr>
            <div class="tasks-container" id="status-{{ status_value }}" data-status="{{ status_value }}">
                {% for task in grouped_tasks|get_item:status_value %}
                    {% include "core/_task_card.html" %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
    {% if not is_locked %}
        <script src="{% static 'js/kanban.js' %}"></script>
    {% endif %}
{% endblock %}